<div class="box_page_buy_history">
    {{#each lstBuy}}
        <p>Money: {{vnp_Amount}}</p>
        <p>String pay date: {{vnp_PayDate}}</p>
        <p>Order info: {{vnp_OrderInfo}}</p>
    {{/each}}
</div>