<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đăng nhập</title>	
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/Page_login_register/style1.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div id="wrapper">
                                
        <form id="form-login" action="/auth/login/password" method="post" name="form"  onsubmit="return validator_login()">
            <h1 class="form-heading" >Đăng nhập</h1>
            
            <div class="form-group">
                <i class="fa-solid fa-user"></i>
                <input type="text" autocomplete="off" class="form-input" id="userName" placeholder="Email" name="username"> 
            </div>
            <div id="error_user">Vui lòng nhập email</div>

            <div class="form-group">
                <i class="fa-solid fa-key"></i>
                <input  type="password" class="form-input imput-conect"  placeholder="Password" name="password">     
                <div id="eye">
                    <i class="fa-regular fa-eye-slash toggle"></i>
                </div>
            </div>
            <div id="error_password">Vui lòng nhập mật khẩu</div>
            <i class="toggle"></i>
            <i class="toggle"></i>

            <input type="submit" value="Đăng nhập"class="form-submit">
            <p><div class="text-center" style="color: aliceblue;">
                {{#if err}}
                <div class="alert">
                    <p>{{err}}</p>
                </div>
                {{/if}}
            <div id="f-g_text">Hoặc đăng nhập với: </div>
            <div class="f-g">  
                <a id="facebook" href="/auth/login/facebook"><img src="/img/Page_login_register/Facebook_logo.png"  alt=""></a>
                <a id="google" href="/auth/login/google"> <img src="/img/Page_login_register/google_logo.png"  alt=""> </a>
            </div>
            

            <p><div class="text-center" style="color: aliceblue;">
            Chưa có tài khoản? <a href="/auth/signup" >Đăng kí</a>
            </div></p>           
        </form>
        
    </div>
</body>
    <script src="/js/Page_login_register/fun.js"></script>
    
</html>