<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đăng kí</title>	
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/Page_login_register/style1.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-image: url('/img/bg.gif'); background-size: cover; background-position: center; margin: 0px;">
    
    <div id="wrapper">
        <form id="form-login" action="/auth/confirm" method="post" name="form" >
            <h1 class="form-heading" >Đăng kí</h1>
            <div class="form-group">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" class="form-input" name="email" placeholder="EMAIL" autocomplete="off">               
            </div>
            <div id="error_email">Vui lòng nhập Email</div>
            

            <div class="form-group">
                <i class="fa-solid fa-user"></i>
                <input type="text" autocomplete="off" class="form-input" id="userName" placeholder="USERNAME" name="username"> 
            </div>
            <div id="error_user">Vui lòng nhập tên đăng nhập</div>
            

            <div class="form-group">
                <i class="fa-solid fa-key"></i>
                <input  type="password" class="form-input imput-conect"  placeholder="PASSWORD" name="currentpassword">     
                <div id="eye">
                    <i class="fa-regular fa-eye-slash toggle"></i>
                </div>
            </div>

            <div id="error_password">Vui lòng nhập mật khẩu</div>

            <div class="form-group">
                <i class="fa-solid fa-key"></i>
                <input  type="password" class="form-input imput-conect" placeholder="CONFIRM PASSWORD" name="confirm" >       
                <div id="eye">
                    <i class="fa-regular fa-eye-slash toggle"></i>
                </div>
            </div>
            <div id="error_confirmpassword">Vui lòng nhập lại mật khẩu</div>
            <i class="toggle"></i>
            
            <input type="submit" value="Đăng kí"class="form-submit">

          
            <p><div class="text-center" style="color: aliceblue;">
                Đã có tài khoản ? <a href="/auth/login" >Đăng nhập ngay</a>
            </div></p>
        </form>
    </div>
</body>
<script src="/js/Page_login_register/fun.js"></script>
<script>
    
    const toggle = document.getElementsByClassName("toggle"),

        input = document.getElementsByClassName("imput-conect");
    toggle[0].addEventListener("click", () =>{
    if(input[0].type === "password") {
        input[0].type = "text";
        toggle[0].classList.replace("fa-eye-slash", "fa-eye");
    }else {
        input[0].type = "password";
        toggle[0].classList.replace("fa-eye", "fa-eye-slash");
    }
    })
    toggle[1].addEventListener("click", () =>{
        if(input[1].type === "password") {
        input[1].type = "text";
        toggle[1].classList.replace("fa-eye-slash", "fa-eye");
        }else {
        input[1].type = "password";
        toggle[1].classList.replace("fa-eye", "fa-eye-slash");
        }
        })
        toggle[2].addEventListener("click", () =>{
        if(input[2].type === "password") {
            input[2].type = "text";
            toggle[2].classList.replace("fa-eye-slash", "fa-eye");
        }else {
            input[2].type = "password";
            toggle[2].classList.replace("fa-eye", "fa-eye-slash");
        }
        })


    var username= document.forms['form']['username'];
    var password= document.forms['form']['password'];
    var email= document.forms['form']['email'];
    var confirmpassword= document.forms['form']['confirm'];
    var currentpassword= document.forms['form']['currentpassword'];

    var error_user= document.getElementById('error_user');
    var error_password= document.getElementById('error_password');
    var error_email= document.getElementById('error_email');
    var error_confirmpassword= document.getElementById('error_confirmpassword');
    var error_currentpassword= document.getElementById('error_currentpassword');

    username.addEventListener('textInput',user_veryfy);
    password.addEventListener('textInput',pass_veryfy);
    email.addEventListener('textInput',email_veryfy);
    confirmpassword.addEventListener('textInput',confirm_veryfy);
    currentpassword.addEventListener('textInput',current_veryfy);

    function validator_register(){

        if(email.value.length <9){
        error_email.style.display="block";
        email.focus();
        return false;      
        }
        if(username.value.length <9){
        error_user.style.display="block";
        username.focus();
        return false;      
        }
        if(password.value.length <6){
        error_password.style.display="block";
        password.focus();
        return false; 
        }
        
        if(confirmpassword.value.length <6){
        error_confirmpassword.style.display="block";
        confirmpassword.focus();
        return false; 
        }
    }
    function validator_login(){

    if(username.value.length <9){
        error_user.style.display="block";
        username.focus();
        return false;      
    }
    if(password.value.length <6){
        error_password.style.display="block";
        password.focus();
        return false; 
    }
    
    if(confirmpassword.value.length <6){
        error_confirmpassword.style.display="block";
        confirmpassword.focus();
        return false; 
    }

    }
    function validator_change(){

    if(currentpassword.value.length <6){
        error_currentpassword.style.display="block";
        currentpassword.focus();
        return false; 
    }
    if(password.value.length <6){
        error_password.style.display="block";
        password.focus();
        return false; 
    }
    if(confirmpassword.value.length <6){
        error_confirmpassword.style.display="block";
        confirmpassword.focus();
        return false; 
    }
    
    }

    function user_veryfy(){
    if(username.value.length >=8){
        error_user.style.display="none";   
        return true;
    }
    }

    function email_veryfy(){
    if(email.value.length >=8){
        error_email.style.display="none";   
        return true;
    }
    }
    function current_veryfy(){
    if(currentpassword.value.length >=5){
        error_currentpassword.style.display="none";   
        return true;
    }
    }
    function pass_veryfy(){
    if(password.value.length >=5){
        error_password.style.display="none";   
        return true;
    }
    }

    function confirm_veryfy(){
    if(confirmpassword.value.length >=5){
        error_confirmpassword.style.display="none";   
        return true;
    }
    }
</script>
</html>
