<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đăng kí</title>	
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/Page_login_register/style1.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-image: url('/img/bg.gif'); background-size: cover; background-position: center; margin: 0px;">
    
    <div id="wrapper">
        <form id="form-login" action="/auth/confirm" method="post" name="form" >
            <h1 class="form-heading" >Đăng kí</h1>
            <div class="form-group">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" class="form-input" name="email" placeholder="EMAIL" autocomplete="off">               
            </div>
            

            <div class="form-group">
                <i class="fa-solid fa-user"></i>
                <input type="text" autocomplete="off" class="form-input" id="userName" placeholder="USERNAME" name="username"> 
            </div>
            

            <div class="form-group">
                <i class="fa-solid fa-key"></i>
                <input  type="password" class="form-input imput-conect"  placeholder="PASSWORD" name="currentpassword">     
                <div id="eye">
                    <i class="fa-regular fa-eye-slash toggle"></i>
                </div>
            </div>


            <div class="form-group">
                <i class="fa-solid fa-key"></i>
                <input  type="password" class="form-input imput-conect" placeholder="CONFIRM PASSWORD" name="confirm" >       
                <div id="eye">
                    <i class="fa-regular fa-eye-slash toggle"></i>
                </div>
            </div>
            <div id="error_resgister" style="padding-top: 40px; color: red;"></div>
            <i class="toggle"></i>
            
            <div class="btn_submit">Đăng kí</div>

            <input type="submit" value="Đăng kí"class="form-submit" hidden>

          
            <p><div class="text-center" style="color: aliceblue;">
                Đã có tài khoản ? <a href="/auth/login" >Đăng nhập ngay</a>
            </div></p>
        </form>
    </div>
</body>
<script>
    var btn_submit = document.getElementsByClassName('btn_submit')[0];
    var inputEmail = document.getElementsByClassName('form-input')[0];
    var inputUser = document.getElementsByClassName('form-input')[1];
    var inputPass = document.getElementsByClassName('form-input')[2];
    var inputCPass = document.getElementsByClassName('form-input')[3];
    var error_submit = document.getElementById('error_resgister');
    var submitRegister = document.getElementsByClassName('form-submit')[0];
    console.log(error_submit)

    btn_submit.onclick = function(){
        if(inputEmail.value == '' || inputUser.value == '' || inputPass.value == '' || inputCPass.value == ''){
            error_submit.innerText = `Vui lòng nhập đầy đủ thông tin`;
        }else{
            if(inputPass.value != inputCPass.value){
                error_submit.innerText = `Mật khẩu không khớp`;
                inputPass.value = '';
                inputCPass.value = '';
            }else{
                submitRegister.click();
            }
        }
        

    }




const toggle = document.getElementsByClassName("toggle"),

    input = document.getElementsByClassName("imput-conect");
        toggle[0].addEventListener("click", () =>{
        if(input[0].type === "password") {
            input[0].type = "text";
            toggle[0].classList.replace("fa-eye-slash", "fa-eye");
        }else {
            input[0].type = "password";
            toggle[0].classList.replace("fa-eye", "fa-eye-slash");
        }
        })
        toggle[1].addEventListener("click", () =>{
            if(input[1].type === "password") {
            input[1].type = "text";
            toggle[1].classList.replace("fa-eye-slash", "fa-eye");
            }else {
            input[1].type = "password";
            toggle[1].classList.replace("fa-eye", "fa-eye-slash");
            }
            })
            toggle[2].addEventListener("click", () =>{
            if(input[2].type === "password") {
                input[2].type = "text";
                toggle[2].classList.replace("fa-eye-slash", "fa-eye");
            }else {
                input[2].type = "password";
                toggle[2].classList.replace("fa-eye", "fa-eye-slash");
            }
            })
</script>
</html>
