<style>
    .box_page_succes{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60vh;
    }
    .title_page_succes{
        font-size: 30px;
        color: #3fff46;
    }
</style>
<div class="box_page_succes">
    <h1 class="title_page_succes">{{info}} Ma:{{code}}</h1>
</div>