
<div class="grid wide">
   <div class="content_chap">
      <h3 class="title_upload_content_book">Add chap</h3>
      <div class="box_preview_upload_chap">
         <div id="preview_img_chap">

         </div>
         <span id="number_file">Chưa có file</span>
      </div>
      <form action="/upload/{{name}}/addchap" enctype="multipart/form-data" method="POST"> 
         <input type="text" autocomplete="off" class="form-input" id="chapname" placeholder="Chap name" name="chapname"> 
         <input type="file" onchange="previeẉ̣̣()" hidden id="input_chap" name="myFile" multiple/>
         <input type="submit" id="submit_data" hidden value="Upload a file"/>
      </form>
      <div class="btn_select_img"><i class="fa-solid fa-upload"></i>Choose A Photo</div>
      <div class="submit_chap">
         Tạo chap
      </div>      
   </div>
</div>
<script>
   var fileInputUploadChap = document.getElementById('input_chap');
   var previewChap = document.getElementById('preview_img_chap');
   var numImg = document.getElementById('number_file');
   var submitData = document.getElementById('submit_data');
   var btnImgChap = document.getElementsByClassName('btn_select_img')[0];
   var submitChap = document.getElementsByClassName('submit_chap')[0];
   var nameChap = document.getElementById('chapname');
   var typeImg = ["jpeg", "png", "jpg"];// các type ảnh

   btnImgChap.onclick = function(){
      fileInputUploadChap.click();
   }


   function submitChapData(){
      submitData.click();
   }


   function previeẉ̣̣(){
      previewChap.innerHTML = "";
      numImg.textContent = `đã có ${fileInputUploadChap.files.length} file được chọn`;
      for(i of fileInputUploadChap.files){
         let reader = new FileReader();
         let figure = document.createElement("div");
         var img_ext = fileInputUploadChap.value.substring(fileInputUploadChap.value.lastIndexOf('.')+1);
         var checkTypeImg = typeImg.includes(img_ext);
         reader.onload = () =>{
            if(checkTypeImg == false){
               // nếu không phải ảnh sẽ xóa ảnh chính và xóa giá trị ảnh nhập vào
               fileInputUploadChap.value = '';
               alert("Không phải ảnh!")
            }else{
               let img = document.createElement("img");
               img.setAttribute("src", reader.result);
               figure.appendChild(img)
            }
         }
         previewChap.appendChild(figure);
         reader.readAsDataURL(i);
      }
   }



   submitChap.onclick = function(){
      if(nameChap.value != ''){
         if(fileInputUploadChap.value != ''){
            submitChapData();
            alert('Tạo chap thành công')   
         }else{
            alert('Bạn chưa chọn ảnh')   
         }
      }else{
         alert('Bạn chưa nhập tên chap')
      }
   }
</script>