<style>
    .box_page_userLstBook{
        padding: 20px 0;
        min-height: 500px;
    }
    .title_box_page_userLstBook{
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 42px;
        padding-top: 50px;
    }
    .box_book_page_userLstBook{
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 15px 30px;
        width: 500px;
        justify-content: space-between;
    }
    .box_book_page_userLstBook:hover{
        background-color: rgb(89, 89, 89);
    }
    .box_book_page_userLstBook h3{
        font-size: 20px;
    }
    .box_page_userLstBook a{
        font-size: 20px;
        text-decoration: none;
        color: #fff;
    }
    @media (max-width: 46.1875em){
        .box_book_page_userLstBook{
            width: 100%
        }
    }
</style>


<div class="box_page_userLstBook m_t_mobile grid wide">
    <h2 class="title_box_page_userLstBook">Danh sách những truyện đã đăng</h2>
    {{#each lstBook}}
        <a href="/read/{{slug}}">
            <div class="box_book_page_userLstBook">
                <h3>Tên sách: {{bookname}}</h3>        
                <a href="/upload/{{slug}}/addchap">Thêm chap</a>        
            </div>        
        </a>
        {{else}}
        <h3>Bạn chưa đăng bất kỳ sách nào!</h3>
    {{/each}}   
    
</div>
