body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 17px;
    padding: 8px;
    background-size: cover;
    background: #242121;
    color: #ffffff;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .col-1 {
    padding: 20px 20px 20px 20px ;
  }
  .col-1 img{

    height: auto;
    width: 150px;
  }
  .col-2 {
    padding: 20px 10px 20px 10px;
    width: 65%;
    scroll-behavior: smooth;
  }
  .col-2 p{
    overflow:auto;
  }

  .col-3 {
    padding: 70px 50px 0px 50px;
    width: 18%;
    align-items: center;
  }
 
  .col-3_btn{
    align-items: center;
    margin-top: 5px;
   
  }
  .listFowllow {
    padding: 5px 20px 15px 20px;
    border-radius: 15px;
    margin: 40px 80px 80px 80px;
    background: #434141;
  }

  .listFowllow_box {
    background-color: #f2f2f2;
    padding: 0px 20px 0px 20px;
    border: 1px solid lightgrey;
    margin: 20px 20px 20px 20px;
    background: #434141;
  }
  .listFowllow_box_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .btn{
    background-color: #2e2d2d;
    color: white;
    padding: 12px;
    margin: 10px 0;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    text-decoration: none;
  }
  
  .btn:hover {
    
    background-color: #c0c301;
    text-decoration: none;
    color: #000;
  }