<div class="footer">
    <div class="grid wide container_footer">
        <div class="row">
            <div class="col l-4 m-4 c-12">
                <div class="desc_footer">
                    <div class="logo_footer">
                        <img src="/img/logo.png" alt="">
                    </div>
                    <p class="desc_page_footer">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ea necessitatibus rem, modi voluptates facilis excepturi sequi aliquid ullam vel. Itaque, repellat dolor numquam optio nisi velit alias neque dicta officia, deserunt voluptatibus expedita consequatur sed. Iusto saepe similique quis dolorem autem nesciunt repellat voluptatum quos omnis, incidunt tenetur totam!
                    </p>
                    <div class="box_phone_footer">
                        <i class="fa-solid fa-phone"></i>09621479769                    
                    </div>
                    <div class="box_mail_footer">
                        <i class="fa-solid fa-envelope"></i>b2c.technology.developer@gmail.com
                    </div>
                    <ul class="list_icon_footer">
                        <li class="item_icon_footer"><a href="#" class="link_item"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="item_icon_footer"><a href="#" class="link_item"><i class="fa-brands fa-instagram"></i></a></li>
                        <li class="item_icon_footer"><a href="#" class="link_item"><i class="fa-brands fa-twitter"></i></a></li>
                        <li class="item_icon_footer"><a href="#" class="link_item"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col l-4 m-4 c-12">
                <h3 class="title_contact">Thông tin cơ bản về web</h3>
                <ul class="list_info_footer">
                    <li class="item_info"><a href="#" class="link_item_info">Sự kiện</a></li>
                    <li class="item_info"><a href="#" class="link_item_info">Liên hệ</a></li>
                    <li class="item_info"><a href="#" class="link_item_info">Giới thiệu</a></li>
                    <li class="item_info"><a href="#" class="link_item_info">Hỗ trợ</a></li>
                    <li class="item_info"><a href="#" class="link_item_info">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="col l-4 m-4 c-12">
                <div class="contact_footer">
                    <form class="form_contact_footer" onsubmit="sendEmail(); reset(); return false;">
                        <h3 class="header_contact_footer">Liên hệ với chúng tôi</h3>
                        <input type="text" id="name_footer" placeholder="Họ tên của bạn" required>
                        <input type="email" id="email_footer" placeholder="Email của bạn" required>
                        <input type="text" id="phone_footer" placeholder="Số điện thoại của bạn" required>
                        <textarea id="message" rows="4" placeholder="Chúng tối có thể giúp gì cho bạn?" required></textarea>
                        <button type="submit">Gửi thông tin để chúng tôi liên lạc với bạn</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">

    </div>
</div>
<script src="http://localhost:8000/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    var notifyBox = document.getElementsByClassName('list_notify_header')[0];

    socket.on('notify', (notify) => {
        appendToDom(notify);
    });

    function appendToDom(notify) {
        var lTag = document.createElement('li');
        lTag.classList.add('item_notify_header');
        var markUp = `
                            <a href="${notify.booklink}" class="link_item_notify_header">
                                <img class="img_item_notify_header" src="${notify.bookImg}" alt="">
                                <div class="content_item_notify_header">
                                    <h4 class="namebook_content_item_notify_header">${notify.bookname}</h4>
                                    <div class="status_box">
                                        <span class="status_title">Trạng thái:</span>
                                        <span class="status_disc">Sách vừa ra</span>
                                        <span class="status_chap">${notify.chapname}</span>
                                    </div>
                                </div>
                            </a>
                  `
        lTag.innerHTML = markUp;
        notifyBox.append(lTag);
    }
</script>
